<div class="col-lg-12">
  <div class="row" >
    <a routerLink="/" routerLinkActive="active"><-Back</a>
    <div  class=" col-lg-12 animate-bottom ">

      <div id="chartStats"class="table-bordered rounded"  >
        <label style="font-weight: bold">Total Reviews</label> <p style="display:inline;">{{totalReviews}}</p><br/>
        <label style="font-weight: bold">-ve Reviews</label> <p style="display:inline;">{{negativeReviews}}</p><br/>
        <label style="font-weight: bold">+ve Reviews</label> <p style="display:inline;">{{positiveReviews}}</p>
      </div>

      <svg height="100%"></svg>
    </div>
  </div>
</div>
